{% extends 'adminbase.html.twig' %}

{% block title %}Ürün Düzenle!{% endblock %}

{% block content %}
<br><br><br>
<!-- main content start-->
<div id="page-wrapper">
    <div class="main-page">
        <h2 class="title1">Ürün Düzenle</h2>

        <div class="bs-example widget-shadow" data-example-id="contextual-table">

    {{ include('admin/products/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_products_index') }}">back to list</a>

    {{ include('admin/products/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
