{% extends 'adminbase.html.twig' %}

{% block title %}Kategori Ekleme!{% endblock %}

{% block content %}
<br><br><br>
<!-- main content start-->
<div id="page-wrapper">
    <div class="main-page">
        <h2 class="title1">Kategori Ekleme:
            <small><small><a href="{{ path('admin_category_new') }}" class="btn btn-warning">Yeni Kategori</a></small></small></h2>

        <div class="bs-example widget-shadow" data-example-id="contextual-table">


    {{ include('admin/category/_form.html.twig') }}

    <a href="{{ path('admin_category_index') }}">back to list</a>
        </div>
    </div>
</div>
{% endblock %}
